.div {
    background-color: var(--Blue-Grey-100, #eceff1);
  }
  .div-2 {
    
    display: flex;
  }
  @media (max-width: 991px) {
    .div-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 15%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-3 {
    background-color: var(--Indigo-100, #e8eaf6);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 16px;
    color: var(--Blue-Grey-200, #cfd8dc);
    font-weight: 500;
    justify-content: center;
    width: 100%;
  }
  .div-4 {
    background-color: var(--Blue-Grey-900, #263238);
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  .img {
    aspect-ratio: 1.52;
    object-fit: auto;
    object-position: center;
    width: 119px;
    align-self: center;
    max-width: 100%;
  }
  .img-2 {
    aspect-ratio: 5.56;
    object-fit: auto;
    object-position: center;
    width: 119px;
    align-self: center;
    margin-top: 10px;
    max-width: 100%;
  }
  .img-3 {
    aspect-ratio: 100;
    object-fit: auto;
    object-position: center;
    width: 187px;
    align-self: center;
    stroke-width: 2px;
    stroke: var(--Blue-Grey-800, #37474f);
    border-color: rgba(55, 71, 79, 1);
    border-style: solid;
    border-width: 2px;
    margin-top: 15px;
  }
  .div-5 {
    color: var(--nvirse-Light-Blye, #56ccf2);
    font-family: Roboto, sans-serif;
    margin-top: 15px;
  }
  .div-6 {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
  }
  .div-7 {
    justify-content: space-between;
    display: flex;
    gap: 5px;
    padding: 0 1px;
  }
  .div-8 {
    display: flex;
    gap: 8px;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-9 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-10 {
    justify-content: space-between;
    display: flex;
    margin-top: 24px;
    gap: 5px;
    padding: 0 2px;
  }
  .div-11 {
    display: flex;
    gap: 8px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    margin: auto 0;
  }
  .div-12 {
    font-family: Roboto, sans-serif;
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    margin: auto 0;
  }
  .div-13 {
    justify-content: space-between;
    display: flex;
    margin-top: 24px;
    width: 100%;
    gap: 5px;
    white-space: nowrap;
    padding: 0 2px;
  }
  @media (max-width: 991px) {
    .div-13 {
      white-space: initial;
    }
  }
  .div-14 {
    display: flex;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .div-14 {
      white-space: initial;
    }
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-15 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-9 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-16 {
    color: var(--Grey-0-White, #fff);
    font-family: Roboto, sans-serif;
    margin-top: 32px;
  }
  .div-17 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    margin: 16px 0 326px;
  }
  @media (max-width: 991px) {
    .div-17 {
      margin-bottom: 40px;
      white-space: initial;
    }
  }
  .div-18 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0 2px;
  }
  @media (max-width: 991px) {
    .div-18 {
      white-space: initial;
    }
  }
  .div-19 {
    display: flex;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-20 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-21 {
    display: flex;
    margin-top: 24px;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .div-21 {
      white-space: initial;
    }
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-22 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .div-23 {
    justify-content: space-between;
    display: flex;
    margin-top: 24px;
    width: 100%;
    gap: 10px;
    padding: 0 2px;
  }
  @media (max-width: 991px) {
    .div-23 {
      white-space: initial;
    }
  }
  .div-24 {
    display: flex;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .div-24 {
      white-space: initial;
    }
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-25 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 85%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-26 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
    }
  }
  .div-27 {
    background-color: var(--Grey-0-White, #fff);
    display: flex;
    flex-direction: column;
    padding: 12px 24px 0;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-28 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-29 {
    display: flex;
    flex-direction: column;
  }
  .div-30 {
    color: var(--Blue-Grey-500, #607d8b);
    font: 500 14px/24px Roboto, sans-serif;
  }
  .div-31 {
    color: var(--nvirse-Deep-Purple, #635cac);
    letter-spacing: -0.56px;
    margin-top: 4px;
    font: 700 28px/150% DM Sans, sans-serif;
  }
  .div-32 {
    border-radius: 64px;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey-0-White, #fff);
    align-self: start;
    display: flex;
    margin-top: 10px;
    gap: 16px;
    padding: 9px 12px;
  }
  .div-33 {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin: auto 0;
    padding: 0 8px;
  }
  .img-15 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .img-17 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .img-18 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .img-19 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 42px;
  }
  .div-34 {
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Blue-Grey-200, #cfd8dc);
    margin-top: 15px;
    height: 1px;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
    }
  }
  .div-35 {
    justify-content: space-between;
    display: flex;
    margin-top: 16px;
    width: 100%;
    gap: 20px;
    padding: 8px 0;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-36 {
    align-self: start;
    display: flex;
    margin-top: 11px;
    gap: 0px;
    font-size: 16px;
    color: var(--Blue-Grey-500, #607d8b);
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -0.32px;
  }
  @media (max-width: 991px) {
    .div-36 {
      white-space: initial;
    }
  }
  .div-37 {
    display: flex;
    flex-direction: column;
    color: var(--Grey-900, #3d4042);
    font-weight: 500;
    padding: 2px 0;
  }
  @media (max-width: 991px) {
    .div-37 {
      white-space: initial;
    }
  }
  .div-38 {
    font-family: Roboto, sans-serif;
  }
  .div-39 {
    background-color: var(
      --Social-Insights-Primary-Gradients,
      linear-gradient(91deg, #3f51b5 0.16%, #a96cfe 98.5%)
    );
    margin-top: 4px;
    height: 2px;
  }
  .div-40 {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
  }
  @media (max-width: 991px) {
    .div-40 {
      white-space: initial;
    }
  }
  .div-41 {
    font-family: Roboto, sans-serif;
  }
  .div-42 {
    background-color: var(--Grey-0-White, #fff);
    margin-top: 4px;
    height: 2px;
  }
  .div-43 {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
  }
  @media (max-width: 991px) {
    .div-43 {
      white-space: initial;
    }
  }
  .div-44 {
    font-family: Roboto, sans-serif;
  }
  .div-45 {
    background-color: var(--Grey-0-White, #fff);
    margin-top: 4px;
    height: 2px;
  }
  .div-46 {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
  }
  @media (max-width: 991px) {
    .div-46 {
      white-space: initial;
    }
  }
  .div-47 {
    font-family: Roboto, sans-serif;
  }
  .div-48 {
    background-color: var(--Grey-0-White, #fff);
    margin-top: 4px;
    height: 2px;
  }
  .div-49 {
    justify-content: end;
    display: flex;
    gap: 16px;
    font-weight: 500;
  }
  .div-50 {
    justify-content: center;
    border-radius: 4px;
    border-color: rgba(96, 125, 139, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Blue-Grey-100, #eceff1);
    display: flex;
    gap: 6px;
    font-size: 12px;
    color: var(--Grey-900, #3d4042);
    padding: 8px;
  }
  .img-20 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-51 {
    display: flex;
    gap: 0px;
  }
  .div-52 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-21 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-53 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--nvirse-Dark-Blue, #2f80ed);
    display: flex;
    gap: 6px;
    font-size: 14px;
    color: var(--Grey-0-White, #fff);
    padding: 8px 12px;
  }
  .div-54 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-22 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-55 {
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Blue-Grey-200, #cfd8dc);
    margin-top: 15px;
    height: 1px;
  }
  @media (max-width: 991px) {
    .div-55 {
      max-width: 100%;
    }
  }
  .div-56 {
    border-radius: 16px;
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey-0-White, #fff);
    display: flex;
    flex-direction: column;
    margin: 39px 24px 0;
    padding: 20px 24px 22px;
  }
  @media (max-width: 991px) {
    .div-56 {
      max-width: 100%;
      margin-right: 10px;
      padding: 0 20px;
    }
  }
  .div-57 {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    padding: 0 1px;
  }
  @media (max-width: 991px) {
    .div-57 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-58 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-58 {
      max-width: 100%;
    }
  }
  .div-59 {
    color: var(--Blue-Grey-800, #37474f);
    font: 500 24px/32px Roboto Serif, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-59 {
      max-width: 100%;
    }
  }
  .div-60 {
    color: var(--Grey-900, #3d4042);
    margin-top: 8px;
    font: 400 15px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-60 {
      max-width: 100%;
    }
  }
  .div-61 {
    border-radius: 66px;
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey-0-White, #fff);
    align-self: end;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    padding: 16px 32px 4px;
  }
  @media (max-width: 991px) {
    .div-61 {
      padding: 0 20px;
    }
  }
  .div-62 {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
  }
  .div-63 {
    color: var(--Grey-900, #3d4042);
    font-family: Roboto, sans-serif;
  }
  .div-64 {
    color: var(--Indigo-500, #3f51b5);
    font-family: Roboto, sans-serif;
  }
  .div-65 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
  }
  .div-66 {
    border-radius: 34px;
    background-color: var(--Blue-Grey-200, #cfd8dc);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-67 {
    border-radius: 34px;
    background-color: var(--nvirse-Dark-Blue, #2f80ed);
    height: 8px;
  }
  .div-68 {
    align-self: start;
    display: flex;
    margin-top: 40px;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    justify-content: space-between;
  }
  .div-69 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 40px;
    border-color: rgba(1, 1, 2, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey-0-White, #fff);
    color: var(--nvirse-Pitch-black, #010102);
    padding: 18px 20px;
  }
  .div-70 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 40px;
    background-color: var(
      --Social-Insights-Primary-Gradients,
      linear-gradient(91deg, #3f51b5 0.16%, #a96cfe 98.5%)
    );
    color: var(--Grey-0-White, #fff);
    padding: 18px 24px;
  }
  @media (max-width: 991px) {
    .div-70 {
      padding: 0 20px;
    }
  }
  .div-71 {
    margin: 24px 24px 0;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-72 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-72 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-73 {
    border-radius: 16px;
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey-0-White, #fff);
    display: flex;
    flex-grow: 1;
    gap: 16px;
    font-weight: 500;
    width: 100%;
    padding: 20px 24px 22px;
  }
  @media (max-width: 991px) {
    .div-73 {
      margin-top: 25px;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .img-23 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
    align-self: start;
  }
  .div-74 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
    }
  }
  .div-75 {
    color: var(--Blue-Grey-800, #37474f);
    font: 22px Roboto Serif, sans-serif;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
    }
  }
  .div-76 {
    color: var(--Grey-900, #3d4042);
    margin-top: 8px;
    font: 400 15px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
    }
  }
  .div-77 {
    justify-content: center;
    border-radius: 40px;
    border: 3px solid var(--Social-Insights-Primary-Gradients, #3f51b5);
    background-color: var(--Grey-0-White, #fff);
    align-self: start;
    margin-top: 32px;
    color: var(--nvirse-Deep-Purple, #635cac);
    text-align: center;
    padding: 18px;
    font: 18px Roboto, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-78 {
    border-radius: 16px;
    border-color: rgba(207, 216, 220, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--Grey-0-White, #fff);
    display: flex;
    flex-grow: 1;
    gap: 16px;
    font-weight: 500;
    width: 100%;
    padding: 20px 24px 22px;
  }
  @media (max-width: 991px) {
    .div-78 {
      margin-top: 25px;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .img-24 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
    align-self: start;
  }
  .div-79 {
    display: flex;
    flex-direction: column;
  }
  .div-80 {
    color: var(--Blue-Grey-800, #37474f);
    font: 22px Roboto Serif, sans-serif;
  }
  .div-81 {
    color: var(--Grey-900, #3d4042);
    margin-top: 8px;
    font: 400 15px Roboto, sans-serif;
  }
  .div-82 {
    justify-content: center;
    border-radius: 40px;
    border: 3px solid var(--Social-Insights-Primary-Gradients, #3f51b5);
    background-color: var(--Grey-0-White, #fff);
    margin-top: 32px;
    color: var(--nvirse-Deep-Purple, #635cac);
    text-align: center;
    padding: 18px;
    font: 18px Roboto, sans-serif;
  }